<ion-content>

  <h1 class="ion-padding container">
    Plataforma Inteligente de Búsqueda y Recomendación de Recetas Saludables
  </h1>

  <article class=" container">
    <!-- <section class="box">
      <h2>Top 5 mejores recetas por calorias</h2>
      <canvas id="linear-dishes-by-calories"></canvas>
    </section> -->

    <section class="box">
      <h2>Top 5 mejores recetas por tiempo de preparacion</h2>
      <canvas id="circle-dishes-by-calories"></canvas>
    </section>

    <section>
      <table class="box-table">
        <tr style="font-weight: bold;">
          <td>Nombre</td>
          <td>Tiempo total</td>
          <td>Porciones</td>
          <td>Costo Porciones</td>
          <td>Costo total</td>
          <td>Total calorias</td>
        </tr>
        <tr *ngFor="let receta of recetas">
          <td>
            {{receta.Nombre_receta}}
          </td>
          <td>
            {{receta.Tiempo_Preparacion}}
          </td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>
            {{receta.Energia_Kcal}}
          </td>
        </tr>
      </table>
    </section>

    <!-- <section>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/5dybdeTylz0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </section> -->

    <!-- <section class="box">
      <h2>Información Nutricional por receta</h2>
      <canvas id="circle2-dishes-by-calories"></canvas>
    </section> -->

  </article>


</ion-content>
