

<ion-content class="center">
  <h1 class="ion-padding container">
    Plataforma Inteligente de Búsqueda y Recomendación de Recetas Saludables
  </h1>

 <div class="container">
  <article class="box-container">

    <section class="ion-padding">

      <ion-item>
        <ion-select aria-label="Fruit" interface="popover" value="nombre" #selector>
          <ion-select-option value="nombre">Por Nombre</ion-select-option>
          <!-- <ion-select-option value="precio">Por Precio</ion-select-option>
          <ion-select-option value="cantidad calorica">Por cantidad calorica</ion-select-option> -->
        </ion-select>
      </ion-item>

      <ion-searchbar  placeholder="Búsqueda de recetas por {{selector.value}}" [(ngModel)]="findBar" (ngModelChange)="filtrarRecetas()"></ion-searchbar>

    </section>

    <section class="box-cards">

      <ion-card *ngFor="let dish of platos">

        <img alt="Silhouette of mountains" src="{{dish.foto_plato}}" class="img-thumbnail"/>
        <ion-card-header>
          <ion-card-title>
            {{ dish.Nombre_receta}}
          </ion-card-title>
          <ion-card-subtitle>
            Tiempo de elaboración: <strong>{{ dish.Tiempo_Preparacion }}</strong>
          </ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>

          <table class="box-table">

              <tr>
                <th>Energia (kcals)</th>
                <td>{{
                  dish.Energia_Kcal
                }}</td>
              </tr>
              <tr>
                <th>Carbohidratos</th>
                <td>{{
                  dish.Hidratos_de_carbano_g
                }}</td>
              </tr>
              <tr>
                <th>Proteínas</th>
                <td>{{
                  dish.Proteinas_g
                }}</td>
              </tr>
              <tr>
                <th>Lípidos</th>
                <td>
                  {{ dish.Lipidos_g}}
                </td>
              </tr>

          </table>

        </ion-card-content>
      </ion-card>

    </section>

  </article>
 </div>

</ion-content>
