

<ion-content class="center">
  <h1 class="ion-padding container">
    Plataforma Inteligente de Búsqueda y Recomendación de Recetas Saludables
  </h1>

 <div class="container">
  <article class="box-container">

    <section class="ion-padding">

      <ion-item>
        <ion-select aria-label="Fruit" interface="popover" value="nombre" #selector>
          <ion-select-option value="nombre">Por Nombre</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-searchbar  placeholder="Búsqueda de recetas por {{selector.value}}" [(ngModel)]="findBar" (ngModelChange)="filtrarRecetas()"></ion-searchbar>

    </section>

    <section class="box-cards">

      <div class="cardSpace" *ngFor="let dish of platos">
        <ion-card >
          <img alt="Silhouette of mountains" src="{{dish.foto_plato}}" class="img-thumbnail"/>
          <ion-card-header>
            <ion-card-title>
              {{ cortarTitulo(dish.Nombre_receta)}}
            </ion-card-title>
            <ion-card-subtitle>
              Tiempo de elaboración: <strong>{{ dish.Tiempo_Preparacion }}</strong>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <table class="box-table">
                <tr>
                  <th>Energia (kcals)</th>
                  <td>{{dish.Energia_Kcal}}</td>
                </tr>
                <tr>
                  <th>Carbohidratos</th>
                  <td>{{
                    dish.Hidratos_de_carbano_g
                  }}</td>
                </tr>
                <tr>
                  <th>Proteínas</th>
                  <td>{{
                    dish.Proteinas_g
                  }}</td>
                </tr>
                <tr>
                  <th>Lípidos</th>
                  <td>
                    {{ dish.Lipidos_g}}
                  </td>
                </tr>
            </table>
          </ion-card-content>
        </ion-card>
        <ion-button class="btn-fit" expand="block" (click)="abrirModal(dish)"><ion-icon name="document-text-sharp"></ion-icon></ion-button>
      </div>

    </section>
  </article>
 </div>
 <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)" [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{plato.Nombre_receta}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="cancel()"><ion-icon name="close-circle-sharp"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-card >
        <ion-card-header><b>Datos de Nutricion</b></ion-card-header>
        <ion-card-content>
          <table class="box-table">
              <tr>
                <th class="text-center">Energia (kcals)</th>
                <th class="text-center">Carbohidratos</th>
                <th class="text-center">Proteínas</th>
                <th class="text-center">Lípidos</th>
              </tr>
              <tr>
                <td class="text-center colored1">{{ plato.Energia_Kcal }}</td>
                <td class="text-center colored1">{{ plato.Hidratos_de_carbano_g }}</td>
                <td class="text-center colored1">{{ plato.Proteinas_g }}</td>
                <td class="text-center colored1">{{ plato.Lipidos_g }}</td>
              </tr>
          </table>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header><b>Receta</b></ion-card-header>
        <ion-card-content>
          <div class="container">
            <div class="leftPhoto">
              <img alt="{{plato.Nombre_receta}}" src="{{plato.foto_plato}}" class="img-thumbnail-modal"/>
            </div>
            <div class="rightText">
              <ul class="listaStyle" *ngIf="plato.Entrada.Ingredientes.length > 0">
                <h3 class="ingredientesTitulo"><b>Ingredientes: </b></h3>
                <li *ngFor="let ingrediente  of plato.Entrada.ingredientesCantidad" class="ingrediente">
                  {{ingrediente}}
                </li>
              </ul>
              <p *ngIf="plato.Entrada.Ingredientes.length < 1" class="ingredientesTitulo">No tiene ingredientes</p>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-card-header><b>Preparación</b></ion-card-header>
          <ol *ngIf="plato.Entrada.preparacion.length > 0">
            <li *ngFor="let paso  of plato.Entrada.preparacion" class="ingrediente">
              {{paso}}
            </li>
          </ol>
          <p *ngIf="plato.Entrada.preparacion.length < 1" class="ingredientesTitulo">No tiene pasos de Preparación</p>
        </ion-card-content>
      </ion-card>



    </ion-content>
  </ng-template>
</ion-modal>

</ion-content>
